In [1]:
import pandas as pd
import numpy as np
# from datetime import *

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 72D0-BC6E

 Directory of C:\Users\GIS\Documents\A.Udemy\Python\Coursera

01/11/2021  09:23 PM    <DIR>          .
01/11/2021  09:23 PM    <DIR>          ..
01/11/2021  01:38 PM    <DIR>          .ipynb_checkpoints
05/11/2020  12:04 AM        69,333,608 202010-divvy-tripdata.csv
05/12/2020  09:08 AM        46,203,255 202011-divvy-tripdata.csv
06/01/2021  12:43 AM        25,031,027 202012-divvy-tripdata.csv
05/02/2021  08:42 AM        18,391,685 202101-divvy-tripdata.csv
10/03/2021  10:41 AM         9,365,975 202102-divvy-tripdata.csv
09/04/2021  01:17 AM        43,555,310 202103-divvy-tripdata.csv
08/05/2021  01:03 AM        64,035,536 202104-divvy-tripdata.csv
12/06/2021  01:34 AM        99,896,575 202105-divvy-tripdata.csv
16/07/2021  09:45 AM       136,439,093 202106-divvy-tripdata.csv
14/08/2021  04:42 PM       154,040,041 202107-divvy-tripdata.csv
03/09/2021  08:09 AM       150,970,305 202108-divvy-tripdata.csv
05/10/2021  03:02 AM       141,130,996 202109-divvy-tripdata.csv
01/11/2021  09:23 PM            82,640 Case Study 1.ipynb
01/11/2021  03:18 PM             8,367 data_pd_concat.ipynb
01/11/2021  02:47 PM       969,186,266 Divvy_Trips_202010-202109.csv
              15 File(s)  1,927,670,679 bytes
               3 Dir(s)  72,817,168,384 bytes free

In [3]:
df = pd.read_csv("Divvy_Trips_202010-202109.csv")
df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136261 entries, 0 to 5136260
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 509.4+ MB

In [5]:
# Check any null values
df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    523467
start_station_id      523781
end_station_name      567268
end_station_id        567501
start_lat                  0
start_lng                  0
end_lat                 4821
end_lng                 4821
member_casual              0
dtype: int64

In [8]:
# Check any duplicates
df.duplicated().sum()

0

In [ ]:
df[df.isnull().any(axis=1)]

# 4. Process

## 4-1. Add ride_length
* ride_length = ended_at - started_at
* Format as HH:MM:SS

In [6]:
# https://stackoverflow.com/questions/31929538/how-to-subtract-datetimes-timestamps-in-python/31929686
# https://stackoverflow.com/questions/22923775/calculate-time-difference-between-two-pandas-columns-in-hours-and-minutes
# https://stackoverflow.com/questions/63371428/how-to-convert-a-string-to-timestamp-in-pandas

# Change type of data from object to datetime to compute ride_length
df['started_at'] = pd.to_datetime(df['started_at'], format='%Y/%m/%d %H:%M:%S')
df['ended_at'] = pd.to_datetime(df['ended_at'], format='%Y/%m/%d %H:%M:%S')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136261 entries, 0 to 5136260
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 509.4+ MB

There are - sign in days (-21 days) with + sign in time (+19:50:02)

As ride_length contains days and time, I'm going to make to columns **riding_days** and **riding_time**
, and store days and time separately. 

First of all, let's find them out and display.

In [10]:
# Calculate riding time 
ride_length = (df.ended_at - df.started_at)
ride_length.sort_values(ascending = False)

2619440     38 days 20:24:09
2569233     38 days 16:11:41
1538445     37 days 10:41:36
2105470     36 days 14:21:23
3393698     34 days 02:27:09
                 ...
739257    -21 days +20:35:05
736227    -21 days +20:29:33
674334    -21 days +20:25:52
675177    -21 days +20:05:17
709532    -21 days +19:50:02
Length: 5136261, dtype: timedelta64[ns]

Add the **riding_days** and **riding_time** columns, and then take out the data contaning - and + signs in the two columns.

In [193]:
(df['ended_at'] - df['started_at'])

0         0 days 00:17:29
1         0 days 00:14:08
2         0 days 00:08:21
3         0 days 00:02:52
4         0 days 00:16:13
                ...
4964004   0 days 00:00:10
5000204   0 days 00:01:11
5006200   0 days 00:03:41
5012090   0 days 00:03:18
5089749   0 days 00:04:29
Length: 5136261, dtype: timedelta64[ns]

In [14]:
df['riding_days'] = (df['ended_at'] - df['started_at']).astype(str).str.split(expand = True)[0]
df['riding_time'] = (df['ended_at'] - df['started_at']).astype(str).str.split(expand = True)[2]
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136261 entries, 0 to 5136260
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  riding_days         object
 14  riding_time         object
dtypes: datetime64[ns](2), float64(4), object(9)
memory usage: 587.8+ MB
None

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13

In [15]:
df.riding_days.str[0]

0          0
1          0
2          0
3          0
4          0
          ..
5136256    0
5136257    0
5136258    0
5136259    0
5136260    0
Name: riding_days, Length: 5136261, dtype: object

Both rd and rt have the same number of rows, but I want to make sure if they have the same data by checking if they have the same ride_id.

In [77]:
# df[df.riding_days.str[0] == '-' & df.riding_time.str[0] == '+']  # Boolean only?
# Find the day with -
rd = df[df.riding_days.str[0] == '-'] # 3304 rows
# Find the time with + 
rt = df[df.riding_time.str[0] == '+'] # 3304 rows

In [63]:
# Check both columns have the same ride_id
for i in range(len(rd.ride_id.values)):
    if rd.ride_id.values[i] not in rt.ride_id.values:
        print(rd.ride_id.values[i])
    
    if rt.ride_id.values[i] not in rd.ride_id.values:
        print(rt.ride_id.values[i])

Let's see why they contain - and +

It seems like some customers were confused their start time (started_at) and end time (ended_at). They put start time in ended_at and end time in started_at.  

Swap started_at to ended_ate and ended_at to started_at and caculate riding_days and riding_time.

In [75]:
rt.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
32780,FFF850D8D4C3EFC9,electric_bike,2020-10-16 16:45:00,2020-10-16 15:58:41,Clifton Ave & Armitage Ave,223.0,Larrabee St & Webster Ave,144.0,41.918163,-87.657064,41.921848,-87.644057,casual,-1,+23:13:41
46480,75874A668F5D45FC,electric_bike,2020-10-16 16:44:52,2020-10-16 15:09:51,Western Ave & Lunt Ave,467.0,Washtenaw Ave & Lawrence Ave,475.0,42.008629,-87.690423,41.968806,-87.696170,casual,-1,+22:24:59
57014,ADA7858EFEF88FE5,docked_bike,2020-10-24 13:10:09,2020-10-24 13:09:40,St. Clair St & Erie St,211.0,Clark St & Lincoln Ave,141.0,41.894448,-87.622663,41.915689,-87.634600,member,-1,+23:59:31
58361,283B66C6E06858FE,docked_bike,2020-10-09 17:50:12,2020-10-09 17:47:03,Clark St & Wellington Ave,156.0,NaN,NaN,41.936496,-87.647538,NaN,NaN,member,-1,+23:56:51
58369,A435A15ADC61422C,docked_bike,2020-10-07 17:53:38,2020-10-07 17:53:24,Theater on the Lake,177.0,Michigan Ave & Oak St,85.0,41.926277,-87.630834,41.900960,-87.623777,member,-1,+23:59:46

In [104]:
# rt.loc[:, ['started_at','ended_at']] same as rt.loc[:, ('started_at','ended_at')]
# rt.loc[:, ('started_at','ended_at')] = rt.loc[:, ('ended_at', 'started_at')]

# As rt and rd have the same data, I think I can do it in this way too
# rt[['started_at', 'ended_at']] = rd[['ended_at', 'started_at']]

rt[['started_at', 'ended_at']] = rt[['ended_at', 'started_at']]
rt.head()

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
32780,FFF850D8D4C3EFC9,electric_bike,2020-10-16 15:58:41,2020-10-16 16:45:00,Clifton Ave & Armitage Ave,223.0,Larrabee St & Webster Ave,144.0,41.918163,-87.657064,41.921848,-87.644057,casual,0,00:46:19
46480,75874A668F5D45FC,electric_bike,2020-10-16 15:09:51,2020-10-16 16:44:52,Western Ave & Lunt Ave,467.0,Washtenaw Ave & Lawrence Ave,475.0,42.008629,-87.690423,41.968806,-87.696170,casual,0,01:35:01
57014,ADA7858EFEF88FE5,docked_bike,2020-10-24 13:09:40,2020-10-24 13:10:09,St. Clair St & Erie St,211.0,Clark St & Lincoln Ave,141.0,41.894448,-87.622663,41.915689,-87.634600,member,0,00:00:29
58361,283B66C6E06858FE,docked_bike,2020-10-09 17:47:03,2020-10-09 17:50:12,Clark St & Wellington Ave,156.0,NaN,NaN,41.936496,-87.647538,NaN,NaN,member,0,00:03:09
58369,A435A15ADC61422C,docked_bike,2020-10-07 17:53:24,2020-10-07 17:53:38,Theater on the Lake,177.0,Michigan Ave & Oak St,85.0,41.926277,-87.630834,41.900960,-87.623777,member,0,00:00:14

In [102]:
# Calcuate riding_days and riding_time again
rt.riding_days = (rt.ended_at - rt.started_at).astype(str).str.split(expand = True)[0]
rt.riding_time = (rt.ended_at - rt.started_at).astype(str).str.split(expand = True)[2]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
32780,FFF850D8D4C3EFC9,electric_bike,2020-10-16 16:45:00,2020-10-16 15:58:41,Clifton Ave & Armitage Ave,223.0,Larrabee St & Webster Ave,144.0,41.918163,-87.657064,41.921848,-87.644057,casual,0,00:46:19
46480,75874A668F5D45FC,electric_bike,2020-10-16 16:44:52,2020-10-16 15:09:51,Western Ave & Lunt Ave,467.0,Washtenaw Ave & Lawrence Ave,475.0,42.008629,-87.690423,41.968806,-87.696170,casual,0,01:35:01
57014,ADA7858EFEF88FE5,docked_bike,2020-10-24 13:10:09,2020-10-24 13:09:40,St. Clair St & Erie St,211.0,Clark St & Lincoln Ave,141.0,41.894448,-87.622663,41.915689,-87.634600,member,0,00:00:29
58361,283B66C6E06858FE,docked_bike,2020-10-09 17:50:12,2020-10-09 17:47:03,Clark St & Wellington Ave,156.0,NaN,NaN,41.936496,-87.647538,NaN,NaN,member,0,00:03:09
58369,A435A15ADC61422C,docked_bike,2020-10-07 17:53:38,2020-10-07 17:53:24,Theater on the Lake,177.0,Michigan Ave & Oak St,85.0,41.926277,-87.630834,41.900960,-87.623777,member,0,00:00:14

In [111]:
len(df) # 5136261
# len(df[df.riding_time.str[0] == '+']) # 3304
5136261 - 3304 # 5132957

5132957

In [159]:
df1 = df.copy()

In [157]:
# Wrong data inputs sorted by year and month 
rt.started_at.astype(str).str[:7].value_counts()

2020-10    1911
2020-11    1243
2020-12      56
2021-09      36
2021-08      29
2021-07      13
2021-04       5
2021-06       5
2021-01       2
2021-03       2
2021-05       2
Name: started_at, dtype: int64

In [172]:
# *
# * This code takes more than an hour * #
# *

# for i in range(len(rt.index)):
#     df.drop(index = rt.index[i], inplace = True)
# len(df)

5132957

In [179]:
# Combine two dataframes 
df = pd.concat([df, rt])
# Check if the data is cleaned properly
len(df[df['riding_time'].str[0] == '+'])

0

In [186]:
df.loc[:,['riding_days']] = df.loc[:,['riding_days']].astype('int64')
df.sort_values(by = 'riding_days', ascending = False)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
2569233,7F0578ABF030FC83,docked_bike,2021-06-04 22:03:33,2021-07-13 14:15:14,Streeter Dr & Grand Ave,13022,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.892278,-87.612043,41.889955,-87.680651,casual,38,16:11:41
2619440,F043F0F6A1AA4F85,docked_bike,2021-06-05 02:27:26,2021-07-13 22:51:35,Michigan Ave & Lake St,TA1305000011,Malcolm X College Vaccination Site,631,41.886024,-87.624117,41.877618,-87.673895,casual,38,20:24:09
1538445,BDA1217EC8532C7B,docked_bike,2021-05-02 02:56:07,2021-06-08 13:37:43,State St & Van Buren St,TA1305000035,Wells St & Polk St,SL-011,41.877181,-87.627844,41.872596,-87.633502,casual,37,10:41:36
2105470,E6E1E5BFFD72ECEC,docked_bike,2021-06-05 23:33:51,2021-07-12 13:55:14,Clark St & Lake St,KA1503000012,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.886021,-87.630876,41.889955,-87.680651,casual,36,14:21:23
3393698,99415B003B7E7EEE,docked_bike,2021-07-08 19:29:49,2021-08-11 21:56:58,Kedzie Ave & Milwaukee Ave,13085,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.929567,-87.707857,41.889955,-87.680651,casual,34,02:27:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715750,74B7BE01BB3A595C,docked_bike,2021-05-24 19:14:54,2021-05-24 19:45:25,Adler Planetarium,13431,Buckingham Fountain,15541,41.866095,-87.607267,41.876511,-87.620548,casual,0,00:30:31
1715749,FFA258E6522F9FEF,docked_bike,2021-05-30 17:14:05,2021-05-30 17:45:20,Adler Planetarium,13431,Wabash Ave & Grand Ave,TA1307000117,41.866095,-87.607267,41.891466,-87.626761,casual,0,00:31:15
1715748,A92DBED8CFDBB195,electric_bike,2021-05-08 20:05:42,2021-05-08 21:08:41,Wells St & Hubbard St,TA1307000151,Wabash Ave & Grand Ave,TA1307000117,41.889986,-87.634400,41.891755,-87.625383,member,0,01:02:59
1715747,40CB16BBC11686A5,classic_bike,2021-05-01 22:55:23,2021-05-01 23:09:07,Clark St & Schiller St,TA1309000024,Wabash Ave & Grand Ave,TA1307000117,41.907993,-87.631501,41.891466,-87.626761,member,0,00:13:44
5089749,CA0E5960C9FC5B28,classic_bike,2021-09-29 17:00:12,2021-09-29 17:04:41,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,member,0,00:04:29

In [190]:
df.started_at.dt.date
df.started_at.dt.time

0          2020-10-31
1          2020-10-31
2          2020-10-31
3          2020-10-31
4          2020-10-31
              ...
4964004    2021-09-15
5000204    2021-09-28
5006200    2021-09-29
5012090    2021-09-29
5089749    2021-09-29
Name: started_at, Length: 5136261, dtype: object

## 4-2. Add day_of_week
* day_of_week - e.g.1 = Sunday and 7 = Saturday.

In [343]:
# dayofweek and day_of_week - 0 = Mon, ..., 6 = Sun
df['day_of_week'] = df['started_at'].dt.dayofweek
df['day_name'] = df['started_at'].dt.day_name()

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,day_name
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,00:17:29,5,Saturday
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,00:14:08,5,Saturday
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,00:08:21,5,Saturday
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,00:02:52,5,Saturday
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,00:16:13,5,Saturday

# 5. Analyse

mean, max, and mode of ride_length

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136261 entries, 0 to 5136260
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_length         object
 14  day_of_week         int64
 15  day_name            object
dtypes: datetime64[ns](2), float64(4), int64(1), object(9)
memory usage: 627.0+ MB

In [ ]:
# https://intellipaat.com/community/32903/pandas-convert-strings-to-time-without-date
# pd.to_datetime(df['riding_time'], format = '%H:%M:%S').dt.time
pd.to_datetime(df['riding_time'], format = '%H:%M:%S').mean()

datetime -> astype(np.int64) -> mean() -> datetime

In [237]:
pd.to_datetime(a.riding_time)

0   2021-11-02 00:17:29
1   2021-11-02 00:14:08
2   2021-11-02 00:08:21
3   2021-11-02 00:02:52
4   2021-11-02 00:16:13
Name: riding_time, dtype: datetime64[ns]

In [246]:
# a = df.copy()
# a = a.head()
# a = pd.to_datetime(df.riding_time).head()
a.riding_time = pd.to_datetime(a.riding_time).values.astype(np.int64)
# b = pd.to_datetime(a.riding_time.mean())
# pd.to_datetime(b, format = '%H:%M')

# print(pd.DataFrame(pd.to_datetime(a.groupby('member_casual').mean().riding_time)))
# print(pd.DataFrame(pd.to_datetime(a.groupby('member_casual').max().riding_time)))
# print(pd.DataFrame(pd.to_datetime(a.riding_time.mode())))

In [255]:
# pd.to_datetime(a.riding_time.mode())
a.riding_days.mean()

0.0

In [248]:
# make a column called riding_time_int to save time and to calculate average time easily 
df['riding_time_int'] = pd.to_datetime(df['riding_time']).values.astype(np.int64)

In [341]:
df.riding_days.value_counts().head()

0     5132294
1        2884
19        316
2         177
3         105
Name: riding_days, dtype: int64

In [263]:
df.member_casual.value_counts()

member    2777974
casual    2358287
Name: member_casual, dtype: int64

In [ ]:
# https://stackoverflow.com/questions/52007139/get-the-average-date-from-multiple-dates-pandas
# https://stackoverflow.com/questions/54813811/how-to-compute-the-average-time-in-python-pandas

In [347]:
casual = df[df.member_casual == 'casual']
member = df[df.member_casual == 'member']

print('MEAN')
print("Casual average riding tiem: {}" .format(pd.Series(pd.to_datetime(casual.riding_time_int.mean())).dt.time.astype(str).str[:8][0]))
print("Member average riding tiem: {}" .format(pd.Series(pd.to_datetime(member.riding_time_int.mean())).dt.time.astype(str).str[:8][0]))

print('\nMAX')
print("Casual max riding tiem: {}" .format(pd.Series(pd.to_datetime(casual.riding_time_int.max())).dt.time.astype(str).str[:8][0]))
print("Member max riding tiem: {}" .format(pd.Series(pd.to_datetime(member.riding_time_int.max())).dt.time.astype(str).str[:8][0]))

print('\nMODE')
print("Casual mode riding tiem: {}" .format(pd.Series(pd.to_datetime(casual.riding_time_int.mode())).dt.time.astype(str).str[:8][0]))
print("Member mode riding tiem: {}" .format(pd.Series(pd.to_datetime(member.riding_time_int.mode())).dt.time.astype(str).str[:8][0]))

MEAN
Casual average riding tiem: 00:28:18
Member average riding tiem: 00:14:01

MAX
Casual max riding tiem: 23:59:57
Member max riding tiem: 23:59:43

MODE
Casual mode riding tiem: 00:09:23
Member mode riding tiem: 00:05:31

In [368]:
df.ride_id.value_counts()

BE1F691E387D7072    2
215F720DB7868C39    2
CB8FE4B0E55A3F7B    2
E395B26B8DBF052F    2
629AD990ACBA3286    2
                   ..
EB47A4BDBB4190AB    1
321CD03B7EAB1DCB    1
76B1ACFB8C5CF49A    1
5D14EE6D08D8E0BC    1
CA0E5960C9FC5B28    1
Name: ride_id, Length: 5136052, dtype: int64

In [344]:
df.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,riding_time_int,day_of_week,day_name
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,1635812249000000000,5,Saturday

In [371]:
print("Average riding_time by day of week: ")
avg_rt = pd.to_datetime(casual.groupby(['day_of_week', 'day_name'])['riding_time_int'].mean()).dt.time.astype(str).str[:8].reset_index()
avg_rt

Average riding_time by day of week:

   day_of_week   day_name riding_time_int
0            0     Monday        00:28:28
1            1    Tuesday        00:25:52
2            2  Wednesday        00:24:59
3            3   Thursday        00:24:23
4            4     Friday        00:26:23
5            5   Saturday        00:30:46
6            6     Sunday        00:32:26

In [372]:
print("The number of rides for users by day_of_week: ")
user_dow = casual.groupby(['day_of_week', 'day_name'])['ride_id'].count().reset_index()
user_dow

The number of rides for users by day_of_week:

   day_of_week   day_name  ride_id
0            0     Monday   266450
1            1    Tuesday   251510
2            2  Wednesday   257308
3            3   Thursday   274693
4            4     Friday   339405
5            5   Saturday   523875
6            6     Sunday   445046

# 6. Share